/*TESTING!!!!!!!!!!!!*/
/*BASE*/
:root {
    --site-padding: 0.5em 10em 0.5em 10em;
    --yellow-colour:#dbba3f;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body p {
    line-height: 1.6em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Link colour when not hovering*/
button a:link {
    color: rgb(32, 32, 32);
}

/* Link colour of a visited link*/
button a:visited {
    color: grey;
}

/*Link colour when hovering*/
button a:hover {
    color: rgb(104, 104, 104);
}

/*Link colour when clicked*/
button a:active {
    color: darkblue;
}


/*NAVIGATION*/
nav {
    top: 0;
    position: sticky;
    z-index: 999;
    display: flex;
    max-height: 3.8em;
    justify-content: space-between;
    align-items: center;
    padding: var(--site-padding);
    background-color: var(--yellow-colour);
    list-style: none;
}

.nav-menu {
    list-style: none;
    text-decoration: none;
}

nav button {
    padding: 10px;
    margin: 0;
    border: none;
    color: black;
    background-color: transparent;
}

nav img {
    height: 3em;
}

.hamburger {
    display: none;
}


/*HERO*/
header {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 4em;
    margin-right: 8em;
}

header img {
    height: 36em;
    width: 100%;
    object-fit: cover;
}

.header-text{
    padding-top: 34%;
    width: 100%;

}

/*MAIN*/
main {
    padding: var(--site-padding);
}

#place-for-content {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    gap: 4em;
    padding: 1.6em 0em 6em 0;
}

main h1 {
    text-align: center;
    font-size: 3em;
    margin: 1.2em;
}

main h2 {
    font-size: 2.2em;
    margin: 0;
}

main h4 {
    font-size: 1.8em;
    margin: 0.2em 0em 0.4em 0em;
}

main h5 {
    background-color: rgb(208, 208, 208);
    padding: 0.2em;
    border-radius: 0.5em;
}

main p {
    overflow: scroll;
    text-overflow: scroll;
    height: 12em;
}

main img { 
    height: 25em;
    width: auto;
    align-items: center;
}

main button {
    padding: 0.8em;
    color: white;
    background-color: var(--yellow-colour);
    border: none;
}


/*FOOTER*/
footer {
    height: 3em;
    text-align: center;
    padding: var(--site-padding);
    background-color: var(--yellow-colour);
}




/*RESPONSIVE*/
/* Media query for IPad Pros - less tha 1024*/
@media screen and (max-width: 64em) {

    :root {
        --site-padding: 0.5em 5em 0.5em 5em;
    }
    main {
        display: block;
    }

    header {
        gap: 3em;
        margin-right: 6em;
    }

}

/* Media query for IPad Minis - less tha 768*/
@media screen and (max-width: 48em) {
    :root {
        --site-padding: 0.5em 4em 0.5em 4em;
    }

    .nav-menu {
        position: fixed;
        left: -120%;
        top: 3rem;
        flex-direction: column;
        background-color: #fff;
        height: auto;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    header {
        gap: 2em;
        margin-right: 4em;
    }
    
    main {
        display: block;
        padding: var(--site-padding);
    }

    main img {
        max-height: 18em;
    }

    main p {
        height: 8em;
    }

    #place-for-content {
        grid-template-columns: 0.4fr 1.6fr;
        gap: 3em;
    }
}

/* Media query for Phones - less tha 480px*/
@media screen and (max-width: 30em) {
    /*Links are blue?????? change that maybe*/
    :root {
        --site-padding: 0.4em 1em 0.4em 1em;
    }

    h1 {
        font-size: 1.875em;
    }
    
    h2 {
        font-size: 1.625em;
    }
    
    h3 {
        font-size: 1.25em;
    }
    
    p {
        font-size: 1em;
    }

    nav {
        padding: 0.375em;
    }

    header {
        display: block;
        min-height: 22em;
        margin: 0;
    }
  
    header img {
        height: 18em;
    }

    .header-text {
        padding: var(--site-padding);
        width: auto;
    }

    main {
        display: block;
        padding: var(--site-padding);
    }

    main img {
        max-height: 16em;
    }

    main p {
        height: 18em;
    }

    #place-for-content > * {
        display: inline-block;
        border-bottom: solid 0.5em #dbba3f;
    }

    .button {
        height: 1em;
        background-color: #dbba3f;
    }

}

/*UPDATE GITHUB!!!*/